* {
    text-align: center;
}

body {
    text-align: center;
}

html, body {
    background-color: #3edea8;
    margin:0;
    padding:0;
    text-align: center;

}
h1 {
    font-size: 70px;
    font-weight: 600;
    color: transparent;
  }