* {
    margin: 0 !important;
    padding: 0;
    outline: none; 
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-align: center;
}

html{
    font-size: 62.5%;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1{
    width: 100vw;
    height: 100vh;
    background: #3edea8;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.section-1-heading{
    font-size: 4rem;
    font-weight: 400;
    color: white;
    padding: 2rem;
}

.section-2{
    width: 100vw;
    height: 100vh;
    background: white;
    background-size: cover;
    display: flex;
}

.section-2-heading{
    font-size: 4rem;
    font-weight: 400;
    color: #3edea8;
    padding: 0.3rem;
    align-items: center;
}

.section-3{
    width: 100vw;
    height: 100vh;
    background: #3edea8;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-3-heading{
    font-size: 4rem;
    font-weight: 300;
    color: white;
    padding: 0.3rem;
    align-items: center;
}

.section-4{
    bottom: 1rem;
    width: 100%;
    height: 10vh;
    background: #3edea8;
    flex-direction: column;
}

.social-media{
    margin-bottom: 10rem;
}

.social-media-link{
    margin: 2 2rem;
    font-size: large;
    padding: 1.7rem;
    background-color: #3edea8;
    border-radius: .5rem;
}

